*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #567
}

.cd{
  width: calc(100% / 5);
  padding: 5px;
  border: solid 1px blue;
  background-color: #fff;
  float:left;
}

.cd img{
  max-width: 97%;
}

.containerCD{
  height: 270px;
}

#album{
  width: 80%;
  max-height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
